/**
 * @name AmoledBD2
 * @description An Amoled theme for BD (and powercord)
 * @author 0J3#0001
 * @version 0.1.1
 * @website https://discord.gg/uPCVMKDSVM
 * @source https://github.com/0J3/AmoledBD/tree/master
 * @updateUrl https://0J3.github.io/AmoledBD/downloads/AmoledBD.theme.css
 */

@use './lib/index';

//
// backgrounds
//
$bgPrimary: #000000;
$bgSecondary: lighten($bgPrimary, 1.3%);
$bgSecondary-alt: darken($bgSecondary, 0.5%);
$bgTertiary: $bgPrimary;
$bgQuaternary: lighten($bgPrimary, 6.5%);
$bgQinary: lighten($bgPrimary, 2.9%);
$bgAccent: $bgPrimary;

@include index.Theme($bgPrimary: $bgPrimary);
